<!DOCTYPE html>
<html ng-app="virtualMachine">
<head>
	<title>Virtual Machine</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="VirtualMachine.js"></script>
</head>
<body ng-controller="machineListCtrl">
	<h1>Virtual Machine</h1>
	Search: <input ng-model="query"></br>
	<p><em>Note: Click Begin button to make whole project running!</em></p>
	<button ng-click="begin()">Click it to begin!</button></br>
	Machine detail information:
	<ul>
    	<li style="display: block; float: left;" ng-repeat="machine in machines | filter:query">
    	  <div id = "{{machine.id}}">
      		{{machine.name}}</br>
      		CPU usage:</br>
      		<a class="curUsg">{{curUsg}}</a></br>
      		MIN CPU usage:</br>
      		<a class="minUsg">{{minUsg}}</a></br>
      		MAX CPU usage:</br>
      		<a class="maxUsg">{{maxUsg}}</a></br>
      	  </div>
    	</li>
  	</ul>
</body>
</html>