.backgroundGrey {
	border: 1px solid black;
    border-collapse: collapse;
	padding: 5px;
	background-color: lightgrey;
}
.backgroundBlue {
	border: 1px solid black;
    border-collapse: collapse;
	padding: 5px;
	background-color: cornflowerblue;
}