.container {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

h1, h2, h3, p, ul, li {
	line-height: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: #0077FF;
	margin-bottom: 20px;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h2 {
	color: #0077FF;
	font-size: 23px;
	font-weight: bold;
	margin-top: 35px;
	border-bottom: 1px solid #0077FF;
	padding-bottom: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

p, li {
	font-size: 20px;
	line-height: 22px;
	font-family: "Times New Roman", Times, serif;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li:before {
    content: "○";
    font-size: 22px;
    padding-right: 10px;
    color: #0077FF;
}

.nav {
	text-align: center;
	margin-bottom: 40px;
}

.nav li {
    display: inline;
    margin: 0;
}

.nav li::before {
    content: "";
    padding-right: 0;
}

.nav li::after {
    content: "●";
    font-size: 22px;
    padding-left: 1px;
    color: #0077FF;
}

.nav li:last-child::after {
    content: "";
}

span {
	position: absolute;
	right: 0;
}

.lineSpace {
	margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000000;
}