body {
	font-family: Calibri;
}
.resumeContainer {
	margin: 20px auto;
	width: 800px;
}
.namePosition {
	padding: 20px;
}
.contactInfo {
	padding: 20px;
}
.download {
	padding: 20px;
}
p.name {
	font-size: 28px;
	font-weight: bold;
}
p.position {
	font-size: 18px;
}
.infoContainer {
	display: flex;
	justify-content: space-between;
}
.download {
	text-align: center;
}
.skillContainer {
	display: flex;
	justify-content: space-between;
}